[submodule "vim/bundles/pathogen"]
	path = vim/bundles/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundles/nerdtree"]
	path = vim/bundles/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundles/solarized"]
	path = vim/bundles/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundles/command-t"]
	path = vim/bundles/command-t
	url = git://git.wincent.com/command-t.git
[submodule "vim/bundles/surround"]
	path = vim/bundles/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundles/delmitmate"]
	path = vim/bundles/delmitmate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "vim/bundles/nerdcommenter"]
	path = vim/bundles/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundles/lusty"]
	path = vim/bundles/lusty
	url = https://github.com/sjbach/lusty.git
[submodule "vim/bundles/fugitive"]
	path = vim/bundles/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundles/xml"]
	path = vim/bundles/xml
	url = https://github.com/othree/xml.vim
[submodule "vim/bundles/detectindent"]
	path = vim/bundles/detectindent
	url = https://github.com/ciaranm/detectindent.git
