[submodule "vim/bundles/pathogen"]
	path = vim/bundles/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundles/nerdtree"]
	path = vim/bundles/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
