[submodule "vim/bundles/pathogen"]
	path = vim/bundles/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundles/nerdtree"]
	path = vim/bundles/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundles/solarized"]
	path = vim/bundles/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundles/command-t"]
	path = vim/bundles/command-t
	url = git://git.wincent.com/command-t.git
[submodule "vim/bundles/surround"]
	path = vim/bundles/surround
	url = https://github.com/tpope/vim-surround.git
