<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UDID</key>
	<string>154598D7-FC5E-47EB-8A6E-84551598D427</string>
	<key>deviceType</key>
	<string>com.apple.CoreSimulator.SimDeviceType.iPhone-8</string>
	<key>isDeleted</key>
	<false/>
	<key>name</key>
	<string>iPhone 8</string>
	<key>runtime</key>
	<string>com.apple.CoreSimulator.SimRuntime.iOS-12-1</string>
	<key>state</key>
	<integer>1</integer>
</dict>
</plist>
