<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UDID</key>
	<string>F2823AC7-5ADE-4495-9542-99164CF4C88F</string>
	<key>deviceType</key>
	<string>com.apple.CoreSimulator.SimDeviceType.iPhone-8-Plus</string>
	<key>isDeleted</key>
	<false/>
	<key>name</key>
	<string>iPhone 8 Plus</string>
	<key>runtime</key>
	<string>com.apple.CoreSimulator.SimRuntime.iOS-11-4</string>
	<key>state</key>
	<integer>1</integer>
</dict>
</plist>
