<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UDID</key>
	<string>E15B581C-AF95-4C8C-B9A5-F85B16370B71</string>
	<key>deviceType</key>
	<string>com.apple.dt.Xcode.IBSimDeviceType.iPad-2x</string>
	<key>name</key>
	<string>IBSimDeviceTypeiPad2x</string>
	<key>runtime</key>
	<string>com.apple.CoreSimulator.SimRuntime.iOS-10-3</string>
	<key>state</key>
	<integer>1</integer>
</dict>
</plist>
