<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UDID</key>
	<string>AB6FDB6B-C3DE-4944-8B14-0DA26C617780</string>
	<key>deviceType</key>
	<string>com.apple.CoreSimulator.SimDeviceType.iPhone-8-Plus</string>
	<key>isDeleted</key>
	<false/>
	<key>name</key>
	<string>iPhone 8 Plus</string>
	<key>runtime</key>
	<string>com.apple.CoreSimulator.SimRuntime.iOS-12-1</string>
	<key>state</key>
	<integer>1</integer>
</dict>
</plist>
