<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UDID</key>
	<string>82711D5B-8898-4E0C-B469-C8BE9DD7E28E</string>
	<key>deviceType</key>
	<string>com.apple.dt.Xcode.IBSimDeviceType.iPad-2x</string>
	<key>name</key>
	<string>IBSimDeviceTypeiPad2x</string>
	<key>runtime</key>
	<string>com.apple.CoreSimulator.SimRuntime.iOS-11-3</string>
	<key>state</key>
	<integer>1</integer>
</dict>
</plist>
