<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UDID</key>
	<string>C08E08FD-2A63-4E4A-BCE2-2B3DE059DE62</string>
	<key>deviceType</key>
	<string>com.apple.dt.Xcode.IBSimDeviceType.iPad-3x</string>
	<key>name</key>
	<string>IBSimDeviceTypeiPad3x</string>
	<key>runtime</key>
	<string>com.apple.CoreSimulator.SimRuntime.iOS-10-1</string>
	<key>state</key>
	<integer>1</integer>
</dict>
</plist>
