<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UDID</key>
	<string>0597AE6E-6F9E-4E6D-986B-3C9E73180187</string>
	<key>deviceType</key>
	<string>com.apple.CoreSimulator.SimDeviceType.iPhone-SE</string>
	<key>isDeleted</key>
	<false/>
	<key>name</key>
	<string>iPhone SE</string>
	<key>runtime</key>
	<string>com.apple.CoreSimulator.SimRuntime.iOS-12-0</string>
	<key>state</key>
	<integer>1</integer>
</dict>
</plist>
